.container {
display: flex;
  gap: 100px;
}
.button-wrapper {
  margin-bottom: 20px;
}
.button-blue {
background-color: blue;
}
.button {
width: 100px;
  height: 100px;
  background-color: green;
  transition: all 1s linear;
}
